<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>400824734636-k4r4f4jl4hjmk6k2ebubvd49eg3nvfb1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.400824734636-k4r4f4jl4hjmk6k2ebubvd49eg3nvfb1</string>
	<key>API_KEY</key>
	<string>AIzaSyDnStq0IkEQbojeMg1BOMQbe0QOe7sUOng</string>
	<key>GCM_SENDER_ID</key>
	<string>400824734636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>josephCalla.com.Instagram-App</string>
	<key>PROJECT_ID</key>
	<string>instagram-661f2</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-661f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400824734636:ios:7f2e8fa942c75e12b6a009</string>
</dict>
</plist>